@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}


/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col,
$width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}

@mixin grid 4 {}

@mixin grid 6 {}

@mixin grid_r 2,
400 {}

@mixin grid_r 2,
800 {}

@mixin grid_r 4,
400 {}

@mixin grid_r 4,
800 {}


/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}


/**
 * GENERAL
 */

img {
    max-width: 100%;
}


/**
 * YOUR CODE HERE
 */

body {
    background: linear-gradient(#E6F9F8, #DAF5F4);
}

.footer {
    background-color: white;
}

.header {
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 7px #d4d4d4;
    margin-top: -18px;
    input {
        float: right;
        margin-top: 10px;
        font-family: Arial;
        font-size: 16px;
        width: 200px;
        height: 25px;
        border-radius: 3px;
        border: 1px solid #d4d4d4;
        padding-left: 5px;
        margin-left: 15px;
    }
    .nav-menu {
        margin-top: 0px;
        li {
            list-style: none;
            float: right;
            font-family: Arial;
            font-size: 17px;
            margin: 10px;
            color: grey;
        }
    }
    button {
        float: right;
        width: 29px;
        background-color: white;
        border: 0px;
        transform: translate(-31px);
        margin-right: 4%;
        margin-top: 11px;
        height: 23px;
        img {
            filter: invert(70%);
        }
    }
}

.subheader {
    margin-bottom: 10px;
    ul {
        margin-top: 0px;
        li {
            list-style: none;
            float: right;
            color: #FFA04B;
            margin: 33px 0px 0px 26px;
            font-family: Chalkboard;
            font-size: 18px;
        }
    }
    img {
        height: 85px;
        margin-left: 5%;
    }
    .right-margin {
        margin-right: 7%;
    }
}

.sub-nav-menu {
    display: none;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
}

.rot-banner {
    float: left;
    width: 62%;
    margin: 1%;
    border: 2px solid white;
    margin-left: 6%;
    margin-top: 15px;
    img {
        width: 100%;
        height: 100%;
        margin-bottom: -9px;
    }
}

a {
    float: right;
}

.schools-submenu {
    width: 215px;
    height: 400px;
    background-color: white;
    position: absolute;
    transform: translate(-4px, 12px);
    z-index: 1;
    opacity: 0;
    .schools-submenu:hover {
        opacity: 1;
    }
}

.group-ad {
    float: left;
    width: 25%;
    border: 2px solid white;
    margin: 1%;
    margin-left: 0;
    margin-top: 15px;
}

.upcoming-data-ticker {
    float: left;
    width: 100%;
    height: 105px;
    border-top: 1px solid #F91A6B;
    border-bottom: 1px solid #F91A6B;
    margin: 10px 6% 0px 6%;
}

.ham-icon {
    margin-left: 13px;
    width: 25px;
    margin-top: 13px;
    position: absolute;
    display: none;
    -webkit-filter: invert(63%);
}

#icon-div {
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
}

.ham-menu {
    width: 215px;
    height: 400px;
    background-color: white;
    position: absolute;
    transform: translateY(60px);
}

.wrapper {
    .ham-menu {
        display: none;
    }
}

.user-info-wrap {
    background-color: pink;
    width: 30%;
    height: 500px;
    float: left;
}

.user-act {
    background-color: pink;
    width: 67%;
    height: 500px;
    float: left;
    margin-left: 3%;
    border: 1px solid grey;
}

.user-img {
    width: 250px;
    height: 250px;
    margin-bottom: 3%;
    border: 1px solid grey;
}

.user-det {}

.user-pals {
    width: 100%;
    height: 300px;
    border: 1px solid grey;
}

.center {
    background-color: green;
    position: absolute;
    left: 0;
    right: 0;
    margin: 8%;
}

.user-img {
    position: relative;
    width: 100%;
    height: 250px;
}

.line {
    border-bottom: 1px solid #f91a6b;
    margin: 0px 6% 4px;
}

.nav-menu2 {
    display: none;
}

@media only screen and (max-width: 860px) {
    .rot-banner {
        float: left;
        width: 100%;
        margin: 10px 4% 10px 4%;
    }
    .group-ad {
        display: none;
    }
    .upcoming-data-ticker {
        float: left;
        width: 100%;
        margin: 10px 4% 0 4%;
        height: 105px;
    }
    .ham-icon {
        display: block;
    }
    .subheader img {
        height: 44px;
        transform: translateY(-66px);
        margin-left: 65px;
    }
    .user-info-wrap {
        background-color: pink;
        width: 100%;
        height: 500px;
        float: left;
    }
    .user-act {
        background-color: pink;
        width: 100%;
        height: 500px;
        float: left;
        border: 1px solid grey;
        margin-top: 3%;
        margin-left: 0px;
    }
    .user-img {
        width: 250px;
        height: 250px;
        margin-bottom: 3%;
        border: 1px solid grey;
    }
    .user-det {
        float: left;
        margin-left: 3%;
    }
    .user-pals {
        width: 100%;
        height: 300px;
        border: 1px solid grey;
        clear: both;
    }
    .center {
        background-color: green;
        position: absolute;
        left: 0;
        right: 0;
        margin: 8%;
    }
    .user-img {
        position: relative;
        height: 250px;
        float: left;
    }
    .wrapper:hover {
        .ham-menu {
            display: block;
            transition: 2s
        }
    }
    .subheader {
        margin-bottom: -60px;
        ul {
            li {
                display: none;
            }
        }
    }
    .header {
        .nav-menu {
            li {
                display: none;
            }
        }
        input {
            display: none;
        }
        button {
            display: none;
        }
        .sub-nav-menu {
            display: block;
            li {
                float: left;
                list-style: none;
                font-size: 17px;
                margin: 10px;
                color: grey;
                font-family: Arial;
                margin-top: 13px;
            }
            .left-margin {
                margin-left: 135px;
            }
        }
    }
    .line {
        display: none;
    }
    #icon-div {
        border-right: 1px solid #d4d4d4;
    }
}

@media only screen and (max-width: 600px) {
    .sub-nav-menu {
        li {
            display: none;
        }
    }
    .subheader img {
        margin-left: 38%;
    }
}

table {
    width: 88%;
     margin-left: 6%;
     margin-top: 10px;
}

tr {
    border-bottom: 1px solid #f91a6b;
    

}
