@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}


/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col,
$width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}

@mixin grid 4 {}

@mixin grid 6 {}

@mixin grid_r 2,
400 {}

@mixin grid_r 2,
800 {}

@mixin grid_r 4,
400 {}

@mixin grid_r 4,
800 {}


/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}


/**
 * GENERAL
 */

img {
    max-width: 100%;
}


/**
 * YOUR CODE HERE
 */

body {
    background-color: #E6F9F8;
}

.footer {
    background-color: white;
}

.header {
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 7px #d4d4d4;
    margin-top: 0px;
    input {
        float: right;
        margin-top: 10px;
        font-family: Arial;
        font-size: 16px;
        width: 200px;
        height: 25px;
        border-radius: 3px;
        border: 1px solid #d4d4d4;
        padding-left: 5px;
        margin-left: 15px;
    }
    .nav-menu {
        margin-top: 0px;
        div {
            list-style: none;
            float: right;
            font-family: Arial;
            font-size: 17px;
            margin: 10px;
            color: grey;
        }
    }
    button {
        float: right;
        width: 29px;
        background-color: white;
        border: 0px;
        transform: translate(-31px);
        margin-right: 4%;
        margin-top: 11px;
        height: 23px;
        img {
            filter: invert(70%);
        }
    }
}

#schools-wrapper {
    #schools-icon {
        height: 39px;
        margin-top: 0px;
        background-color: white;
        margin: 0px;
        border: 0px;
        padding: 0px;
        p {
            margin: 0px;
            text-indent: 0px;
        }
    }
    #schools-submenu {
        width: 225px;
        background-color: white;
        position: absolute;
        transform: translateY(24px);
        display: none;
        font-size: 16px;
        opacity: 0.9;
        border-left: 1px solid #d4d4d4;
        padding: 0;
        border-right: 1px solid #d4d4d4;
        li {
            list-style-type: none;
            a {
                float: left;
                clear: both;
                text-decoration: none;
                font-family: Arial;
                font-size: 15px;
                color: #B7B9B9;
                border-bottom: 1px solid #d4d4d4;
                padding: 3px;
                padding-left: 7px;
                width: 100%
            }
            img {
                float: right;
                width: 20px;
                filter: invert(70%);
            }
        }
    }
}

#schools-wrapper:hover {
    #schools-submenu {
        display: block;
    }
}

#places-wrapper {
    #places-icon {
        height: 39px;
        margin-top: 0px;
        background-color: white;
        margin: 0px;
        border: 0px;
        padding: 0px;
        p {
            margin: 0px;
            text-indent: 0px;
        }
    }
    #places-submenu {
        width: 225px;
        background-color: white;
        position: absolute;
        transform: translateY(24px);
        display: none;
        font-size: 16px;
        opacity: 0.9;
        border-left: 1px solid #d4d4d4;
        padding: 0;
        border-right: 1px solid #d4d4d4;
        li {
            list-style-type: none;
            a {
                float: left;
                clear: both;
                text-decoration: none;
                font-family: Arial;
                font-size: 15px;
                color: #B7B9B9;
                border-bottom: 1px solid #d4d4d4;
                padding: 3px;
                padding-left: 7px;
                width: 100%
            }
            img {
                float: right;
                width: 20px;
                filter: invert(70%);
            }
        }
    }
}

#first:hover {
    background-color: #EFF9F9;
}

#places-wrapper:hover {
    #places-submenu {
        display: block;
    }
}

#events-wrapper {
    #events-icon {
        height: 39px;
        margin-top: 0px;
        background-color: white;
        margin: 0px;
        border: 0px;
        padding: 0px;
        p {
            margin: 0px;
            text-indent: 0px;
        }
    }
    #events-submenu {
        width: 225px;
        background-color: white;
        position: absolute;
        transform: translateY(24px);
        display: none;
        font-size: 16px;
        opacity: 0.9;
        border-left: 1px solid #d4d4d4;
        padding: 0;
        border-right: 1px solid #d4d4d4;
        li {
            list-style-type: none;
            a {
                float: left;
                clear: both;
                text-decoration: none;
                font-family: Arial;
                font-size: 15px;
                color: #B7B9B9;
                border-bottom: 1px solid #d4d4d4;
                padding: 3px;
                padding-left: 7px;
                width: 100%
            }
            img {
                float: right;
                width: 20px;
                filter: invert(70%);
            }
        }
    }
}

#events-wrapper:hover {
    #events-submenu {
        display: block;
    }
}

#ham-schools-wrapper {
    #ham-schools-icon {
        height: 40px;
        margin-top: 0px;
        background-color: white;
        margin: 0px;
    }
    #ham-schools-submenu {
        width: 225px;
        background-color: white;
        position: absolute;
        transform: translate(193px, -58px);
        display: none;
        font-size: 16px;
        opacity: 0.9;
        border-top: 1px solid #d4d4d4;
        padding: 0;
        border-right: 1px solid #d4d4d4;
        li {
            list-style-type: none;
        }
        a {
            float: left;
            clear: both;
            text-decoration: none;
            font-family: Arial;
            font-size: 15px;
            color: #B7B9B9;
            border-bottom: 1px solid #d4d4d4;
            padding: 3px;
            padding-left: 7px;
            width: 100%
        }
        img {
            float: right;
            width: 20px;
            filter: invert(70%);
        }
    }
}

#ham-schools-wrapper:hover {
    #ham-schools-submenu {
        display: block;
    }
}

#ham-places-wrapper {
    #ham-places-icon {
        height: 40px;
        margin-top: 0px;
        background-color: white;
        margin: 0px;
    }
    #ham-places-submenu {
        width: 225px;
        background-color: white;
        position: absolute;
        transform: translate(193px, -58px);
        display: none;
        font-size: 16px;
        opacity: 0.9;
        border-top: 1px solid #d4d4d4;
        padding: 0;
        border-right: 1px solid #d4d4d4;
        li {
            list-style-type: none;
        }
        a {
            float: left;
            clear: both;
            text-decoration: none;
            font-family: Arial;
            font-size: 15px;
            color: #B7B9B9;
            border-bottom: 1px solid #d4d4d4;
            padding: 3px;
            padding-left: 7px;
            width: 100%
        }
        img {
            float: right;
            width: 20px;
            filter: invert(70%);
        }
    }
}

#ham-places-wrapper:hover {
    #ham-places-submenu {
        display: block;
    }
}

#ham-events-wrapper {
    #ham-events-icon {
        height: 40px;
        margin-top: 0px;
        background-color: white;
        margin: 0px;
    }
    #ham-events-submenu {
        width: 225px;
        background-color: white;
        position: absolute;
        transform: translate(193px, -58px);
        display: none;
        font-size: 16px;
        opacity: 0.9;
        border-top: 1px solid #d4d4d4;
        padding: 0;
        border-right: 1px solid #d4d4d4;
        li {
            list-style-type: none;
        }
        a {
            float: left;
            clear: both;
            text-decoration: none;
            font-family: Arial;
            font-size: 15px;
            color: #B7B9B9;
            border-bottom: 1px solid #d4d4d4;
            padding: 3px;
            padding-left: 7px;
            width: 100%
        }
        img {
            float: right;
            width: 20px;
            filter: invert(70%);
        }
    }
}

#ham-events-wrapper:hover {
    #ham-events-submenu {
        display: block;
    }
}

.subheader {
    margin-bottom: 10px;
    ul {
        margin-top: 0px;
        li {
            list-style: none;
            float: right;
            color: #FFA04B;
            margin: 33px 0px 0px 26px;
            font-family: Chalkboard;
            font-size: 18px;
        }
    }
    img {
        height: 85px;
        margin-left: 5%;
    }
    .right-margin {
        margin-right: 7%;
    }
}

.sub-nav-menu {
    display: none;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
}

.rot-banner {
    float: left;
    width: 62%;
    margin: 1%;
    border: 2px solid white;
    margin-left: 6%;
    margin-top: 15px;
    img {
        width: 100%;
        height: 100%;
        margin-bottom: -9px;
    }
}

a {
    float: right;
}

.group-ad {
    float: left;
    width: 25%;
    border: 2px solid white;
    margin: 1%;
    margin-left: 0;
    margin-top: 15px;
}

.upcoming-data-ticker {
    float: left;
    width: 100%;
    height: 105px;
    border-top: 1px solid #F91A6B;
    border-bottom: 1px solid #F91A6B;
    margin: 10px 6% 0px 6%;
}

.ham-icon {
    margin-left: 13px;
    width: 25px;
    margin-top: 13px;
    position: absolute;
    display: none;
    -webkit-filter: invert(63%);
}

#icon-div {
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
}

.ham-menu {
    background-color: white;
    width: 200px;
    position: absolute;
    display: none;
    font-size: 16px;
    opacity: 0.9;
    padding: 0;
    border-right: 1px solid #d4d4d4;
    transform: translateY(50px);
    div {
            float: left;
            clear: both;
            text-decoration: none;
            font-family: Arial;
            font-size: 15px;
            color: #B7B9B9;
            padding: 3px;
            padding-left: 7px;
            width: 100%;
            border-bottom: 1px solid #d4d4d4;
            height: 45px;
        }
}

.wrapper {
    .ham-menu {
        display: none;
    }
}

.user-info-wrap {
    background-color: pink;
    width: 30%;
    height: 500px;
    float: left;
}

.user-act {
    background-color: pink;
    width: 67%;
    height: 500px;
    float: left;
    margin-left: 3%;
    border: 1px solid grey;
}

.user-img {
    width: 250px;
    height: 250px;
    margin-bottom: 3%;
    border: 1px solid grey;
    float: right;
}

.user-det {}

.user-pals {
    width: 100%;
    height: 300px;
    border: 1px solid grey;
}

.center {
    background-color: green;
    position: absolute;
    left: 0;
    right: 0;
    margin: 8%;
}

.user-img {
    position: relative;
    width: 100%;
    height: 250px;
}

.line {
    border-bottom: 1px solid #f91a6b;
    margin: 0px 6% 4px;
}

.nav-menu2 {
    display: none;
}

@media only screen and (max-width: 860px) {
    .rot-banner {
        float: left;
        width: 100%;
        margin: 10px 4% 10px 4%;
    }
    .group-ad {
        display: none;
    }
    .upcoming-data-ticker {
        float: left;
        width: 100%;
        margin: 10px 4% 0 4%;
        height: 105px;
    }
    .ham-icon {
        display: block;
    }
    .subheader img {
        height: 44px;
        transform: translateY(-66px);
        margin-left: 65px;
    }
    .user-info-wrap {
        background-color: pink;
        width: 100%;
        height: 500px;
        float: left;
    }
    .user-act {
        background-color: pink;
        width: 100%;
        height: 500px;
        float: left;
        border: 1px solid grey;
        margin-top: 3%;
        margin-left: 0px;
    }
    .user-img {
        width: 250px;
        height: 250px;
        margin-bottom: 3%;
        border: 1px solid grey;
    }
    .user-det {
        float: left;
        margin-left: 3%;
    }
    .user-pals {
        width: 100%;
        height: 300px;
        border: 1px solid grey;
        clear: both;
    }
    .center {
        background-color: green;
        position: absolute;
        left: 0;
        right: 0;
        margin: 8%;
    }
    .user-img {
        position: relative;
        height: 250px;
        float: left;
    }
    .wrapper:hover {
        .ham-menu {
            display: block;
            transition: 2s
        }
    }
    .subheader {
        margin-bottom: -60px;
        ul {
            li {
                display: none;
            }
        }
    }
    .header {
        margin-top: -18px;
        .nav-menu {
            div {
                display: none;
            }
        }
        input {
            display: none;
        }
        button {
            display: none;
        }
        .sub-nav-menu {
            display: block;
            li {
                float: left;
                list-style: none;
                font-size: 17px;
                margin: 10px;
                color: grey;
                font-family: Arial;
                margin-top: 13px;
            }
            .left-margin {
                margin-left: 135px;
            }
        }
    }
    .line {
        display: none;
    }
    #icon-div {
        border-right: 1px solid #d4d4d4;
    }
}

@media only screen and (max-width: 600px) {
    .sub-nav-menu {
        li {
            display: none;
        }
    }
    .subheader img {
        margin-left: 38%;
    }
}

table {
    width: 88%;
    margin-left: 6%;
    margin-top: 10px;
}

tr {
    border-bottom: 1px solid #f91a6b;
}

.left_box {
    min-width: 300px;
    width: 88%;
    height: 175px;
    padding: 5px;
    position: relative;
    margin-left: 6%;
    border-bottom: 1px solid #f91a6b;
}

#random {
    background-color: white;
    width: 100px;
    height: 500px;
}

#event-img {
    width: 200px;
    float: left;
    border: 2px solid white;
    margin: 10px;
}

#user-img {
    width: 50px;
    height: 50px;
    margin: 10px;
    float: right;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 0px 0px 2px grey;
    margin-left: 0px;
    margin-top: 0;
}

#time-stamp {
    margin-top: 0;
    font-size: 13px;
    font-family: Arial;
    color: grey;
    text-indent: 0px;
}

h4 {
    font-family: Arial;
    margin-bottom: 10px;
}

button,
#search-input,
#header-user-img {
    float: right;
    margin-top: 20px;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 3%;
    font-size: 35px;
    font-weight: bolder;
    text-shadow: 1px 1px 0px #515151;
    color: white;
    text-shadow: 1px 2px 1px #6B6B6B;
}

#header-user-img {
    width: 37px;
    height: 37px;
    margin-right: 3%;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    box-shadow: 0px 0px 2px #515151;
}

#button-right {
    float: right;
    background-color: white;
    border: 1px solid #d4d4d4;
    color: #A8A8A8;
    border-radius: 3px;
    height: 30px;
    font-family: Arial;
    font-size: 15px;
    transform: translate(790px, -60px)
}

.post {
    list-style-type: none;
}

#event-title {
    font-family: Arial;
    text-align: center;
    color: #f91a6b;
    text-shadow: 2px, 2px, 0px #d4d4d4;
    clear: both;
}

#post-new-event,
#new-event-title,
#new-event-label {
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
}

#new-event-label {
    margin-left: 42%;
    margin-top: 20px;
    font-family: Arial;
    color: grey;
    margin-right: 3px;
}

#post-new-event {
    margin-top: 30px;
    background-color: white;
    border: 0px;
    margin-left: -40px;
    height: 25px;
    margin-top: 33px;
    color: grey;
}

#new-event-title {
    width: 175px;
    height: 39px;
    margin-right: 11px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    font-family: Arial;
    font-size: 16px;
    box-shadow: 0px 0px 2px #d4d4d4;
    padding-left: 10px;
}

hr {
    margin: auto;
    width: 200px;
}

#event-content-left {
    float: left;
    margin-top: 20px;
    #posted-title {}
    #user-name {
        margin-bottom: 2px;
        font-size: 12px;
        color: #649E70;
        font-family: Arial;
        font-weight: 400;
        text-indent: 0px;
    }
    #description {
        font-family: Arial;
        font-size: 16px;
        color: grey;
        margin-top: 10px;
        clear: both;
        text-indent: 0px;
    }
}

.login-box {
    background-color: white;
    width: 550px;
    height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #d4d4d4;
    #left {
        float: left;
        width: 50%;
        border-right: 1px solid #d4d4d4;
        height: 100%;
        input {
            display: block;
            width: 94%;
            margin-left: 3%;
            border-radius: 3px;
            border: 1px solid #d4d4d4;
            height: 35px;
            padding-left: 5px;
            margin-top: 10px;
        }
        button {
            background-color: #f91a6b;
            width: 94%;
            border: 0px;
            margin-right: 3%;
            margin-top: 10px;
            border-radius: 3px;
        }
        h4 {
            margin-left: 25px;
            font-family: Arial;
            margin-top: 70px;
        }
    }
    #right {
        float: left;
        width: 50%;
        input {
            display: block;
            width: 94%;
            margin-left: 3%;
            border-radius: 3px;
            border: 1px solid #d4d4d4;
            height: 35px;
            padding-left: 5px;
            margin-top: 10px;
        }
        button {
            background-color: #f91a6b;
            width: 94%;
            border: 0px;
            margin-right: 3%;
            margin-top: 10px;
            border-radius: 3px;
        }
        h4 {
            margin-left: 50px;
            font-family: Arial;
            margin-top: 20px;
        }
    }
}

.event-box {
    background-color: white;
    width: 550px;
    height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #d4d4d4;
    z-index: 1;
    input {
        display: block;
        width: 94%;
        margin-left: 3%;
        border-radius: 3px;
        border: 1px solid #d4d4d4;
        height: 35px;
        padding-left: 5px;
        margin-top: 10px;
    }
    button {
        background-color: #f91a6b;
        width: 94%;
        border: 0px;
        margin-right: 3%;
        margin-top: 10px;
        border-radius: 3px;
    }
}

#date {
    font-family: Arial;
    font-size: 15px;
}
