<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./dist/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="wrapper">
                <div id="icon-div"><img class="ham-icon" src="./images/menu48.png"></div>
                <div class="ham-menu"></div>
            </div>
        </div>
        <div class="subheader">
            <img src="./images/unnamed.png">
        </div>
    </div>
    <script type="text/ja vascript" src="./dist/app-browserify.js"></script>
</body>

</html>
