<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../dist/style.css">
</head>

<body onLoad="doMagic();">
    <div class="container">
        <div>
            <div class="header">
                <div><a href="http://localhost:3000/#login">login</a></div>
                <button><img src="../images/magnifying47.png" /></button>
                <input type="search" placeholder="Search" />
                <div class="nav-menu">
                    <div>123Parenting</div>
                    <div id="places-wrapper">
                        <div id="places-icon">
                            <p>Places</p>
                        </div>
                        <ul id="places-submenu">
                            <li><a href="http://localhost:3000/templates/apparel&accessories.html">Apparel & Accessories</a></li>
                            <li><a href="http://localhost:3000/templates/babyshops.html">Baby Shops</a></li>
                            <li><a href="http://localhost:3000/templates/playareas.html">Play Areas</a></li>
                            <li><a href="http://localhost:3000/templates/libraries&bookstores.html">Libraries & Book Stores</a></li>
                            <li><a href="http://localhost:3000/templates/museums.html">Museums</a></li>
                            <li><a href="http://localhost:3000/templates/amusementparks.html">Amusement Parks</a></li>
                        </ul>
                    </div>
                    <div>Classes</div>
                    <div id="events-wrapper">
                        <div id="events-icon">
                            <p>Events & Camps</p>
                        </div>
                        <ul id="events-submenu">
                            <li><a href="http://localhost:3000/templates/workshops&camps.html">Workshops & Camps</a></li>
                            <li><a href="http://localhost:3000/templates/sportsevents.html">Sports Events</a></li>
                            <li><a href="http://localhost:3000/templates/arts&theatre.html">Arts & Theatre</a></li>
                        </ul>
                    </div>
                    <div id="schools-wrapper">
                        <div id="schools-icon">
                            <p>Schools</p>
                        </div>
                        <ul id="schools-submenu">
                            <li><a href="http://localhost:3000/templates/elementaryschools.html">Elementary Schools</a></li>
                            <li><a href="http://localhost:3000/templates/daycares.html">Day Cares</a></li>
                            <li><a href="http://localhost:3000/templates/preschools.html">Preschools</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="sub-nav-menu">
                    <li class="left-margin">Crafts</li>
                    <li>Recipes</li>
                    <li>Printables</li>
                    <li>Activities</li>
                </ul>
                <div class="wrapper">
                    <div id="icon-div"><img class="ham-icon" src="../images/menu48.png" /></div>
                    <div class="ham-menu">
                        <div>123Parenting</div>
                        <div id="ham-places-wrapper">
                            <div id="ham-places-icon">
                                <p>Places</p>
                            </div>
                            <ul id="ham-places-submenu">
                                <li><a href="http://localhost:3000/templates/apparel&accessories.html">Apparel & Accessories</a></li>
                                <li><a href="http://localhost:3000/templates/babyshops.html">Baby Shops</a></li>
                                <li><a href="http://localhost:3000/templates/playareas.html">Play Areas</a></li>
                                <li><a href="http://localhost:3000/templates/libraries&bookstores.html">Libraries & Book Stores</a></li>
                                <li><a href="http://localhost:3000/templates/museums.html">Museums</a></li>
                                <li><a href="http://localhost:3000/templates/amusementparks.html">Amusement Parks</a></li>
                            </ul>
                        </div>
                        <div>Classes</div>
                        <div id="ham-events-wrapper">
                            <div id="ham-events-icon">
                                <p>Events & Camps</p>
                            </div>
                            <ul id="ham-events-submenu">
                                <li><a href="http://localhost:3000/templates/workshops&camps.html">Workshops & Camps</a></li>
                                <li><a href="http://localhost:3000/templates/sportsevents.html">Sports Events</a></li>
                                <li><a href="http://localhost:3000/templates/arts&theatre.html">Arts & Theatre</a></li>
                            </ul>
                        </div>
                        <div id="ham-schools-wrapper">
                            <div id="ham-schools-icon">
                                <p>Schools</p>
                            </div>
                            <ul id="ham-schools-submenu">
                                <li><a href="http://localhost:3000/templates/elementaryschools.html">Elementary Schools</a></li>
                                <li><a href="http://localhost:3000/templates/daycares.html">Day Cares</a></li>
                                <li><a href="http://localhost:3000/templates/preschools.html">Preschools</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="body">
            <div class="subheader">
                <ul>
                    <li class="right-margin">ASK DR. MOM</li>
                    <li>ACTIVITES</li>
                    <li>PRINTABLES</li>
                    <li>RECIPES</li>
                    <li>CRAFTS</li>
                </ul>
                <img src="../images/unnamed.png" />
            </div>
            <div class="line"></div>
            <div class="line"></div>
            <div id="div1">
                <td><img class="test" src=""></td>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
    function doMagic() {
        var yelp = JSON.parse(httpGet("http://localhost:3000/yelp?term={summer+camp}&location={location}"));
        var obj = yelp.businesses;
        var tbl = $("<table/>").attr("id", "mytable");
        $("#div1").append(tbl);
        for (var i = 0; i < obj.length; i++) {
            var tr = "<tr>";
            var tdimg = "<td><img style='width:400;height:400' src='" + obj[i]["image_url"] + "'></img></td>";
            var td1 = "<td class='test'>" + obj[i]["name"] + "</td>";
            var td2 = "<td><img style='width:400;height:400' src='" + obj[i]["rating_img_url"] + "'></img></td>";
            var td3 = "<td>" + obj[i]["display_phone"] + "</td></tr>";

            $("#mytable").append(tr + tdimg + td1 + td2 + td3);

        }

        console.log(yelp);
    }

    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false);
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }
    </script>
</body>

</html>
